# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Ray Tracing in One Weekend/.vs
Ray Tracing in One Weekend/Debug/*.tlog
*.idb
*.pdb
*.ilk
*.log
Ray Tracing in One Weekend/Debug/Ray Tracing in One Weekend.vcxproj.FileListAbsolute.txt
